<!-- This is the modal with the default close button -->
<!-- <div id="modal-close-default" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Account Settings</h2>

        <h3>Account Details:</h3>
        <p>Username: <b>{{ session["username"] }}</b></p>
        <p>Balance: <b>{{ session["balance"] }}</b></p>

        <h3>Change Password:</h3>

        <form action="" method="post">
            <input name="curr_pw" type="text" placeholder="Current Password"> <br>
            <input name="new_pw" type="text" placeholder="New Password"><br>
            <input name="conf_pw" type="text" placeholder="Confirm Password"><br>
            <button name="submit" type="submit">Submit</button>
        </form>
    </div>
</div> -->

<div class="container" id="app">
    <div id="image-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
       <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
      </div>
      <button id="image-modal-close" class="modal-close"></button>
    </div>

  </div>