
<div class="notification is-danger  mb-0">
    <button class="delete"></button>
    <p class="has-text-centered">{{ code}} - {{ message}}</p>
    
</div>

{% block js %}
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
  
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
  
</script>
{% endblock %}


