{% block style %} 
<style type="text/css">
  #notify{
    position: absolute;
    width:  100%;
    top: 3.5rem;
  }
  .animateOpen{
    animation:moveOpen 5s;
    animation-iteration-count:initial;
    animation-fill-mode: forwards;
  } 
 
  @keyframes moveOpen 
    {
      from {-webkit-transform: translate(0, -4.5rem);}
      25% {-webkit-transform: translate(0, 0);}
      80% {-webkit-transform: translate(0, 0);}
      100% {-webkit-transform: translate(0, 0);}
      to {-webkit-transform: translate(0, -4.5rem);}
    }
</style>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

  {% for category, message in messages %}
    <div id="notify" class="notification is-{{category}} mb-0">
        
        <button class="delete"></button>
        <p class="has-text-centered"> {{ message}}</p>
        
    </div>
    {% endfor %}

  {% endif %}
{% endwith %}


{% block js %}
<script type="text/javascript">

document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;

      document.querySelector("#notify").classList.add("animateOpen"); // Add animation to it
      
      setTimeout( function() {
        $notification.parentNode.removeChild($notification);
      }, 5000);

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
});

  
</script>
{% endblock %}

