{% extends "layout.html" %}

{% block title %} Portfolio {% endblock %} 


{% block body %}

  <div class="container is-fullhd mt-6 pt-6">
      <div class="notification">
        {% if final_quotes %}
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Shares</th>
                <th>Current Value</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <!-- Only Shares will be taken from  -->
              
                {% for data in final_quotes %}

                  <tr>
                    <td>{{ data.symbol }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.shares }}</td>
                    <td>${{ data.price }}</td>
                    <td class="dtotal">${{ data.total }} </td>    
                  </tr>
                  
                {% endfor %}
            
              <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td id="cash" style="color: green">${{ currency }} </td>    
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b id="put_here"></b> </td>    
              </tr>

            
            </tbody>
          </table>
        {% else %}
        
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Shares</th>
                <th>Current Value</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td id="cash" style="color: green">${{ currency }} </td>    
              </tr>

              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b id="put_here"></b> </td>    
              </tr>

            
            </tbody>
          </table>
          
    {% endif %}

      </div>
  </div>

  <script type="text/javascript">
  // Calculate total potential cash
  document.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

    var dtotal = document.querySelectorAll(".dtotal");
    var cash = document.querySelector("#cash").textContent.substring(1)
    var fin = 0.00;

    for ( let i =0; i < dtotal.length; i++){
      let value = parseFloat(dtotal[i].textContent.substring(1))
      console.log(value);
      fin += value;
    }
    console.log(fin);

    document.getElementById("put_here").innerText = "$"+ (fin+parseFloat(cash));
  });




  </script>

{% endblock %}