{% extends "layout.html" %}

{% block title %} Home {% endblock %} 


{% block body %}

<div class="container">
    <div class="notification">
      This container is <strong>centered</strong> on desktop.
      <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Names</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>    
          </tr>
          <tr>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>    
          </tr>
          <tr>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>    
          </tr>
          <tr>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>    
          </tr>
          <tr>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>
            <td>wip</td>    
          </tr>

        </tbody>
      </table>
    
          
        </div>
</div>


{% endblock %}