{% extends "layout.html" %}

{% block title %} Portfolio {% endblock %} 


{% block body %}

<div class="container is-fullhd mt-6 pt-6">
    <div class="notification">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Shares</th>
            <th>Current Value</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% if current_holding %}
            {% for data in current_holding %}
              <tr>
                <td>{{ data.symbol }}</td>
                <td>{{ data.company }}</td>
                <td>{{ data.shares }}</td>
                <td></td>
                <td> </td>    
              </tr>
            {% endfor %}
          {% endif %}
          <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{ currency }} </td>    
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>${{ currency }}</b> </td>    
          </tr>

        </tbody>
      </table>
    
          
        </div>
</div>


{% endblock %}