<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>

    <title>{% block title %}{% endblock %} - Financer</title>

    {% block style %}{% endblock %}

    <style>
        .uk-notification-top-center{
            margin-top: 75px !important;
        }   
    </style>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="uk-card uk-card-default uk-card-body uk-position-center">
        {% block body %}
        {% endblock %}
    </div>

    <div >
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <script>
                UIkit.notification({message: `{{ message[1] }}`, status: `{{ message[0] }}`, pos: 'top-center', timeout: 2000 })
                // Explanation:
                // with_categories=true gives me back an object with 2 entries:
                // message[0] - the category passed to flash
                // message[1] - the actual message
                // flash("Failed!", "warning") aka flash(message[1], message[0]) 
                // message[0] must include Notification status codes from UiKit
            </script>
                
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% if message%}
        {% include 'errors.html' %}
    {% endif %}
</body>
</html>