<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>

    <title>{% block title %}{% endblock %} - Financer</title>

    {% block style %}{% endblock %}
</head>
<body>

    {% include 'navbar.html' %}

    <div class="uk-card uk-card-default uk-card-body uk-position-center">
        {% block body %}
        {% endblock %}
    </div>

    {% if message%}
        {% include 'errors.html' %}
    {% endif %}
</body>
</html>