{% extends "layout.html" %}

{% block body %}

    <form class="uk-position-large  uk-margin-xlarge-top uk-position-top-center">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Username">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="text" placeholder="Password">
            </div>
        </div>

        <div class="uk-margin" uk-margin>
            <button class="uk-button uk-button-default uk-align-center uk-button-primary">Login</button>
        </div>

    </form>

    <div class="uk-position-bottom-center uk-position-large">
        <h3>Registered users:</h3>
        <ul>
            {% for row in rows %}
                <li>{{ row }}</li> 
                <!-- <li>{{ row["username"]}} - {{ row["email"]}} - </li> -->
            {% endfor %}
        </ul>
    </div>


{% endblock %}