{% extends "layout.html" %}

{% block body %}

    <form action="/login" method="POST" class="uk-position-large  uk-margin-xlarge-top uk-position-top-center" >

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="username" class="uk-input" type="text" placeholder="Username" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input name="password" class="uk-input"  type="password" placeholder="Password" required>
            </div>
        </div>

        <div class="uk-margin" uk-margin>
            <button type="submit" class="uk-button uk-button-default uk-align-center uk-button-primary">Login</button>
        </div>

    </form>

    <div class="uk-position-bottom-center uk-position-large">
        {%if rows%}
            <h3>Registered users:</h3>
            <ul>
                {% for row in rows %}
                    <li>{{ row }}</li> 
                    <!-- <li>{{ row["username"]}} - {{ row["email"]}} - </li> -->
                {% endfor %}
            </ul>
        {%endif%}
    </div>

{% endblock %}