{% block style %} 
<style type="text/css">
    ul li a {text-transform: none !important}
</style>
{% endblock %}

<nav class="uk-navbar-container" uk-navbar>

    {% if session.user_id %}

        <div class="uk-navbar-left uk-margin-xlarge-left">
            <a class="uk-navbar-item uk-logo" href="/">Financer</a>

            <ul class="uk-navbar-nav">
                <li><a href="/quote">Quote</a></li>
                <li><a href="/buy">Buy</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/history">History</a></li>
            </ul>

        </div>

        <div class="uk-navbar-right uk-margin-xlarge-right">

            <ul class="uk-navbar-nav">
                <li> 
                    <a href="/user">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                        {{ session["username"] }}
                    </a>
                </li>

                <li>
                    <a  href="/logout">Logout</a>
                </li>
            </ul>
        

        </div>

    {% else %}

        <div class="uk-navbar-left uk-margin-xlarge-left">
            <a class="uk-navbar-item uk-logo" href="/">Financer</a>
        </div>
 
        <div class="uk-navbar-right uk-margin-xlarge-right">

            <ul class="uk-navbar-nav">
            
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>

        </div>

    {% endif %}

</nav>