{% extends "layout.html" %}

{% block title %} Quote {% endblock %} 

{% block style %} 
<style type="text/css">
    /* ul li a {text-transform: none !important} */
    .fixed-height{
        max-height: 9.5rem;
    }
</style>
{% endblock %}


{% block body %}


    <div class="container mt-6 fixed-height">
        <div class="notification mt-6 is-info">

            <form id="lookup" action="/quote" method="POST">

                <div class="field is-grouped">
                    <p class="control is-expanded">
                    <input name="symbol" class="input" type="text" placeholder="Symbol">
                    </p>
                    <p class="control">
                        <button id="search" type="submit" class="button is-primary">Search</button>
                    </p>
                </div>
            
            
            </form>
            
            

        </div>

    </div>

    <div class="container">
        {% if quote %}
        <div class="notification is-dark">

            
            <div id="quote-view" class="">
            <p style="text-align: center;vertical-align: middle;">
            A share of 
                <span style="font-weight: bold;">{{quote.symbol}}</span>, 
                <span style="font-weight: bold;">{{quote.name}}, </span>costs
                <span style="font-weight: bold; color:green">{{quote.price}}$</span> 
        
            </p>
            </div>
           
        </div>
        {% endif %}
    </div>






    
{% endblock %}

