{% extends "layout.html" %}

{% block body %}

<form action="/register" method="POST" class="uk-position-large  uk-margin-xlarge-top uk-position-top-center" >

    <!-- <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input name="email" class="uk-input" type="email" placeholder="Email">
        </div>
    </div> -->

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input name="username" class="uk-input" type="text" placeholder="Username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input name="password" class="uk-input" type="password" placeholder="Password">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input name="confirm_password" class="uk-input" type="password" placeholder="Confirm Password">
        </div>
    </div>

    <div class="uk-margin" uk-margin>
        <button class="uk-button uk-button-default uk-align-center uk-button-primary">Register</button>
    </div>

</form>

{% include 'errors.html' %}

{% endblock %}