{% extends "layout.html" %}

{% block title %} Update Password {% endblock %} 


{% block body %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            
            <form action="/update-password" method="POST" class="box">

              <div class="field">
                <label for="" class="label">Current Password</label>
                <div class="control has-icons-left">
                  <input name="current_password" type="password" placeholder="******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">New Password</label>
                <div class="control has-icons-left">
                  <input name="new_password" type="password" placeholder="*******" class="input" onfocus="function1()" onfocusout="function2()" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label for="" class="label">Confirm Password</label>
                <div class="control has-icons-left">
                  <input name="confirm_password" type="password" placeholder="*******" class="input" onfocus="function1()" onfocusout="function2()" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <!-- Tick box saying i agree to take the 10.000 cash, or not. i set it default in db anyas=ys if not -->

              <div class="field">
                <button type="submit" class="button is-success">
                  Update
                </button>
              </div>

            </form>

            <div class="columns is-centered ">
              <h1 id="p_ver" class="is-invisible "> <span style="text-align: center;">Password Strength:</span> <br>
                <span style="color:red"> * Minimum 8 characters, <br> * 1 Uppercase <br> * 1 Numeric <br> * 1 Special</span> 
              </h1>
            </div>



          </div>
        </div>
      </div>
    </div>
</section>

    
{% endblock %}

{% block js %}
<script type="text/javascript">

 function function1(){
  document.getElementById("p_ver").classList.remove("is-invisible");

 }
 function function2(){
  document.getElementById("p_ver").classList.add("is-invisible");
 }
</script>
{% endblock %}