<div class="container" id="app" style="position: absolute;">
  <div id="image-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
     <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Account Details</p>
    </header>
    <section class="modal-card-body">
        <!-- Content ... -->
        <p>Username: <b>{{ session["username"] }}</b></p>
        <p>Balance: <b>${{ currency }}</b></p>

        <a href="/update-password" class="button">Update Password</a>
 
    </section>
    <footer class="modal-card-foot">
      <button id="image-modal-close" class="button">Close</button>
    </footer>
  </div>
    </div>
  </div>
  <br>
    
</div>


{% block js %}
  <script type="text/javascript">
    var btn = document.querySelector('#showModal');
    var modalDlg = document.querySelector('#image-modal');
    var imageModalCloseBtn = document.querySelector('#image-modal-close');
    btn.addEventListener('click', function(){
      modalDlg.classList.add('is-active');
    });

    imageModalCloseBtn.addEventListener('click', function(){
      modalDlg.classList.remove('is-active');
    });
  </script>
{% endblock %}


