<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I am {{ name }} and this is Dynamic Content</h1>
    <h2>Your random number is {{ onetoten }} (keep refreshing the page)</h2>
    <h3>You have drawn {{ number }}</h3>
    
    {% if number == 1%}
        Your coin flip is HEADS
    {% else %}
        Your coin flip is TAILS
    {% endif %}

</body>
</html>
